body {
  font-family: 'Ubuntu';
}

.navbar-nav .nav-item.active .nav-link 
{
  text-decoration-line: underline;
  text-decoration-thickness: 3px;
  text-underline-position: under;
  color: black;
}

.navbar-nav .nav-item:hover .nav-link {
  color: black;
}

.about-picture{
  background-color: #ffffff; 
  border-radius: 25px;
}
.about-picture-img{
  height: auto; 
  width: 70%;
}

.bio-company{
  color: black;
}

.bio-company:hover{
  color:white;
  background-color: black;
  text-decoration: none;
}

.biokick{
  color: white;
  font-size: 20px;
  border-left: 10px solid #888;
  margin: 1.5em 10px;
  padding: 0.5em 10px;}

.biokick:before, .biokick:after {
  color: #888;
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}
.biokick:before {content: '\201c'}
.biokick:after {content: '\201e';}



.sidekick:before, .sidekick:after {
    color: #f8cc2e;
    font-size: 40px;
}
.sidekick:before {content: '\201c'}
.sidekick:after {content: '\201e';}
.sidekick cite {font-size: 70%; text-align:center; top:50%}
.sidekick cite:before {content: ' \2015 '}

.bio-length-options {
  align-items: center;
  display: grid;
  grid-template-columns: repeat(6,30px)
}

.bio-option {
  height: calc(50px - .66667rem);
  position: relative
}
.bio-legend{
  font-size: 18px;

}
.bio-label-text{
  font-size: 14px;
  color: #ffffff;
}


.card:hover{
  box-shadow: 8px 8px 5px rgb(58, 58, 58);    
  transform: scale(1.1);
}

.connect .connect-heading{
  color: #ffffff;
}

.connect .connect-subheading{
  color: #ffffff;
}

.copyright {
  background-color: #000000;
}