body {
  font-family: 'Ubuntu';
}

.navbar-nav .nav-item.active .nav-link 
{
  text-decoration-line: underline;
  text-decoration-thickness: 3px;
  text-underline-position: under;
  color: black;
}

.navbar-nav .nav-item:hover .nav-link {
  color: black;
}

.card:hover{
  box-shadow: 8px 8px 5px rgb(58, 58, 58);    
  transform: scale(1.1);
}

.connect .connect-heading{
  color: #ffffff;
}

.connect .connect-subheading{
  color: #ffffff;
}

.copyright {
  background-color: #000000;
}